@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-gradient-primary-to-secondary {
  background: linear-gradient(to right, #007bff, #fd7e14);
}

.text-primary {
  color: #007bff !important;
}

.text-warning {
  color: #fd7e14 !important;
}

.bg-primary {
  background-color: #007bff !important;
}

.bg-warning {
  background-color: #fd7e14 !important;
}